.login-view {
    background-image: url('../assets/cesped.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center; /* Centra la tarjeta horizontalmente */
    align-items: center; /* Centra la tarjeta verticalmente */
  }
  